<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>User Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      @if (currentUser) {
      <ion-item>
        <ion-input
          label="UID"
          labelPlacement="stacked"
          [value]="currentUser.uid"
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Display Name"
          labelPlacement="stacked"
          [value]="currentUser.displayName"
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="E-Mail"
          labelPlacement="stacked"
          [value]="currentUser.email"
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="E-Mail Verified"
          labelPlacement="stacked"
          [value]="currentUser.emailVerified"
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Anonymous"
          labelPlacement="stacked"
          [value]="currentUser.isAnonymous ? 'yes' : 'no'"
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Phone Number"
          labelPlacement="stacked"
          [value]="currentUser.phoneNumber"
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Photo URL"
          labelPlacement="stacked"
          [value]="currentUser.photoUrl"
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Provider ID"
          labelPlacement="stacked"
          [value]="currentUser.providerId"
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Tenant ID"
          labelPlacement="stacked"
          [value]="currentUser.tenantId"
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="ID Token"
          labelPlacement="stacked"
          [value]="idToken"
          readonly
        ></ion-input>
      </ion-item>
      }
      <ion-button expand="block" (click)="refreshCurrentUser()"
        >Refresh Current User</ion-button
      >
      <ion-button expand="block" (click)="refreshIdToken()"
        >Refresh ID Token</ion-button
      >
      <ion-button expand="block" (click)="signOut()">Logout</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Configuration</ion-card-title>
    </ion-card-header>
    @if (currentUser) {
    <ion-card-content>
      <ion-item>
        <ion-input
          label="Language"
          labelPlacement="stacked"
          [(ngModel)]="languageCode"
          placeholder="en-US"
        ></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="setLanguageCode(languageCode)"
        >Set Language Code</ion-button
      >
      <ion-button expand="block" (click)="useAppLanguage()"
        >Use App Language</ion-button
      >
    </ion-card-content>
    }
  </ion-card>
</ion-content>
